#NOTE: Run `git add : --renormalize` after editing this file.

## Defaults
## -----------------------------------------------------------------------------
* text=auto eol=lf

## Code
*.csv text
*.heightmap text
*.mod text
*.txt text

## Documentation
*.md text

## Images
*.dds binary
*.png binary
*.tga binary

## Fonts
*.otf binary
*.ttf binary
